body {
    padding-bottom: 15px;
}
.loading {
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(359deg);
    }
}

@keyframes spin {
    100% {
        transform: rotate(359deg);
    }
}

a img:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

a img:active {
    -webkit-transform: scale(1);
    transform: scale(1);
}

@media (max-width: 991px) {
    .affix {
        position: static;
        width: auto;
        top: 0;
    }
}

@media (min-width: 992px) {
    .affix-top {
        position: fixed;
        top: 0px;
    }
}

.table-status {
    margin-top: 20px;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1; /* ie 6/7 */
}
.progress-data {
    width: 100%;
}
#btn-certificate-upload, #file-certificate, #ssl-file-certificate, #btn-ssl-certificate-upload {
    display: inline-block;
}
.cert-upload {
    margin-bottom: 15px;
}
.cert-upload > label {
    display: block;
}
.cert-upload .message {
    margin-top: 10px;
}
.cert-upload .refresh, .cert-upload.active .upload, .btn-cert-remove.active .remove, .btn-cert-remove .refresh-remove {
    display: none;
}
.cert-upload.active .refresh, .btn-cert-remove.active .refresh-remove {
    display: inline-block;
}
.cert-upload.public {
    display: none;
}
.cert-upload.public.visible {
    display: block;
}
.spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.error-block {
    margin-top: 15px;
}
#file-import {
    margin-bottom: 15px;
}
.btn-import-stop {
    margin-bottom: 15px;
}
#export-filename {
    max-width: 400px;
}
.backgrid-pagination-cell {
    display: table-cell !important;
}
.backup-delimiter {
    max-width: 60px;
}
.label-is-verified:hover {
    cursor: pointer;
}
#PLU .alert {
    margin-bottom: 0px;
    clear: both;
}
.plu-info-message {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}
.backgrid .tooltip-inner {
    text-align: left;
}
.main-page-cell {
    font-size: 25px;
}
#cloud-synchronize, #btn-cloud-disconnect {
    display: none;
}
.row-novelty {
    margin-top: 15px;
    padding-top: 15px;
    border: 1px solid transparent;
    border-image: linear-gradient(to right, #666 0%, #FFF 100%);
    border-image-slice: 1;
    border-left: none;
    border-bottom: none;
}
.row-novelty:first-child {
    border-top: none;
}
.row-novelty .media-object {
    max-width: 130px;
}
.preloader, .file-loader {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 1;
    align-items: center;
    justify-content: center;
    display: none;
}
.file-loader .progress {
    width: 100%;
}

.state-cloud #btn-cloud-product-sync-remove, .state-cloud.active #btn-cloud-product-sync, .state-cloud #btn-cloud-product-sync-test {
    display: none;
}

.state-cloud, .state-cloud.active #btn-cloud-product-sync-remove, .state-cloud #btn-cloud-product-sync, .state-cloud.active #btn-cloud-product-sync-test {
    display: inline-block;
}

body.preloading .preloader, body.uploading .file-loader {
    display: flex !important;
}
.preloader .loader {
    text-align: center;
    font-size: 2em;
    color: #FFF;
}

.navbar.navbar-container .navbar-brand {
    height: auto;
    z-index: 12;
}

.table-toolbar {
    margin-top: 7px;
    text-align: right;
}

.spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.row-novelty-date {
    font-size: 0.9em;
    font-style: italic;
    color: #333;
}
.main-page-cell > a {
    position: relative;
}
.main-cell-unread-count {
    position: absolute;
    display: block;
    padding: 2px 4px;
    left: 3px;
    background: #df4300;
    top: -8px;
    color: #FFF;
    font-size: 13px;
    font-weight: bold;
    border-radius: 4px;
    z-index: 2;
}

.mail-cell-novelty-ring {
    -webkit-animation: ring 4s .7s ease-in-out infinite;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 4s .7s ease-in-out infinite;
    -moz-transform-origin: 50% 4px;
    animation: ring 4s .7s ease-in-out infinite;
    transform-origin: 50% 4px;
}

@-webkit-keyframes ring {
    0% { -webkit-transform: rotateZ(0); }
    1% { -webkit-transform: rotateZ(30deg); }
    3% { -webkit-transform: rotateZ(-28deg); }
    5% { -webkit-transform: rotateZ(34deg); }
    7% { -webkit-transform: rotateZ(-32deg); }
    9% { -webkit-transform: rotateZ(30deg); }
    11% { -webkit-transform: rotateZ(-28deg); }
    13% { -webkit-transform: rotateZ(26deg); }
    15% { -webkit-transform: rotateZ(-24deg); }
    17% { -webkit-transform: rotateZ(22deg); }
    19% { -webkit-transform: rotateZ(-20deg); }
    21% { -webkit-transform: rotateZ(18deg); }
    23% { -webkit-transform: rotateZ(-16deg); }
    25% { -webkit-transform: rotateZ(14deg); }
    27% { -webkit-transform: rotateZ(-12deg); }
    29% { -webkit-transform: rotateZ(10deg); }
    31% { -webkit-transform: rotateZ(-8deg); }
    33% { -webkit-transform: rotateZ(6deg); }
    35% { -webkit-transform: rotateZ(-4deg); }
    37% { -webkit-transform: rotateZ(2deg); }
    39% { -webkit-transform: rotateZ(-1deg); }
    41% { -webkit-transform: rotateZ(1deg); }

    43% { -webkit-transform: rotateZ(0); }
    100% { -webkit-transform: rotateZ(0); }
}

@-moz-keyframes ring {
    0% { -moz-transform: rotate(0); }
    1% { -moz-transform: rotate(30deg); }
    3% { -moz-transform: rotate(-28deg); }
    5% { -moz-transform: rotate(34deg); }
    7% { -moz-transform: rotate(-32deg); }
    9% { -moz-transform: rotate(30deg); }
    11% { -moz-transform: rotate(-28deg); }
    13% { -moz-transform: rotate(26deg); }
    15% { -moz-transform: rotate(-24deg); }
    17% { -moz-transform: rotate(22deg); }
    19% { -moz-transform: rotate(-20deg); }
    21% { -moz-transform: rotate(18deg); }
    23% { -moz-transform: rotate(-16deg); }
    25% { -moz-transform: rotate(14deg); }
    27% { -moz-transform: rotate(-12deg); }
    29% { -moz-transform: rotate(10deg); }
    31% { -moz-transform: rotate(-8deg); }
    33% { -moz-transform: rotate(6deg); }
    35% { -moz-transform: rotate(-4deg); }
    37% { -moz-transform: rotate(2deg); }
    39% { -moz-transform: rotate(-1deg); }
    41% { -moz-transform: rotate(1deg); }

    43% { -moz-transform: rotate(0); }
    100% { -moz-transform: rotate(0); }
}

@keyframes ring {
    0% { transform: rotate(0); }
    1% { transform: rotate(30deg); }
    3% { transform: rotate(-28deg); }
    5% { transform: rotate(34deg); }
    7% { transform: rotate(-32deg); }
    9% { transform: rotate(30deg); }
    11% { transform: rotate(-28deg); }
    13% { transform: rotate(26deg); }
    15% { transform: rotate(-24deg); }
    17% { transform: rotate(22deg); }
    19% { transform: rotate(-20deg); }
    21% { transform: rotate(18deg); }
    23% { transform: rotate(-16deg); }
    25% { transform: rotate(14deg); }
    27% { transform: rotate(-12deg); }
    29% { transform: rotate(10deg); }
    31% { transform: rotate(-8deg); }
    33% { transform: rotate(6deg); }
    35% { transform: rotate(-4deg); }
    37% { transform: rotate(2deg); }
    39% { transform: rotate(-1deg); }
    41% { transform: rotate(1deg); }

    43% { transform: rotate(0); }
    100% { transform: rotate(0); }
}

.header-right {
    margin-top: 10px;
}

.notification-header {
    width: 40px;
    margin-right: 10px;
    position: relative;
}

.cloud-subtitle {
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
}

.form-group-range-item {
    display: inline-block;
    margin-left: 20px;
}

.form-group-range-item .form-control {
    max-width: 100px;
}

.form-group-range-item:first-child {
    margin-left: 0px;
}

.panel-anaf {
    margin-top: 15px;
}

.csr-generation {
    margin-top: 20px;
}